<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/angular-mocks.js"></script>
    <script src="app/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
    <link href="style.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<body>
    <div class="row header">
        <div class="col-md-3">
            <img src="images/logo5.png" />
        </div>
    </div>
    <div class="row banner">
            <h1 class="text-center">Company Lister</h1>
    </div>

    </div>
    <div ng-app="Company" class="container" ng-controller="Company">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel-heading" role="tab" id="formHeader">
                <h4 class="panel-title">
                    <button class="btn btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapseForms" aria-expanded="true" aria-controls="collapseForms">
                        Add New Company
                    </button>
                </h4>
            </div>
            <div id="collapseForms" class="panel-collapse collapse" role="tabpanel" aria-labelledby="formHeader">
                <form name="companyForm" class="well" id="addCompany">
                    <div class="row">
                        <div class="col-md-6" id="companyName">
                            <label for="companyName">Company Name (required)</label>
                            <input type="text" class="form-control" ng-model="item.company" required />
                        </div>
                        <div class="col-md-6">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" ng-model="item.status" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="information">Information</label>
                            <input type="text" class="form-control" id="information" ng-model="item.information" />
                        </div>
                        <div class="col-md-6">
                            <label for="keyContacts">Key Contacts</label>
                            <input type="text" class="form-control" id="keyContacts" ng-model="item.contacts" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="financialPerformance">Financial Performance</label>
                            <input type="text" class="form-control" ng-model="item.performance" />
                        </div>
                        <div class="col-md-6">
                            <button ng-click="addItem(item)" class="btn btn-primary pull-right addButton" ng-disabled="!companyForm.$valid">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Status</th>
                        <th>Information</th>
                        <th>Key Contacts</th>
                        <th>Financial Performance</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>
                            <span ng-hide="editMode">{{item.company}}</span>
                            <input type="text" ng-show="editMode" ng-model="item.company" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.status}}</span>
                            <input type="text" ng-show="editMode" ng-model="item.status" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.information}}</span>
                            <input type="text" ng-show="editMode" ng-model="item.information" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.contacts}}</span>
                            <input type="text" ng-show="editMode" ng-model="item.contacts" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item.performance}}</span>
                            <input type="text" ng-show="editMode" ng-model="item.performance" />
                        </td>
                        <td>
                            <span ng-hide="editMode" ng-click="editMode = true; editItem(item)" class="btn btn-default btn-xs glyphicon glyphicon-edit"></span>
                            <span class="btn btn-default btn-xs glyphicon glyphicon-saved" ng-show="editMode" ng-click="editMode = false"></span>
                        </td>
                        <td>
                            <i ng-click="removeItem($index)" class="btn btn-default btn-xs glyphicon glyphicon-trash"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
