body {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

/*HEADER*/
.header {
    padding: 10px 30px;
}
.banner {
    padding: 50px;
    background-color: #3A3B3C;
    margin-bottom: 30px;
}

/*MAIN AREA*/
.panel-collapse .col-md-6 {
    margin-top: 20px;
}
.btn-blue {
    background-color: #0DA9FF;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.btn-blue:hover,
.btn-blue:focus {
    color: white;
    background-color:#66c9ff;
}
h1 {
    font-size: 50px;
    color: white;
    margin: 0px;
    font-weight: bolder;
}
.add-button  {
    margin-top: 25px;
}
.panel-heading {
    padding: 10px 0px;
}
.main-area {
    padding: 0px 200px;
}
.main-listing {
    border: 20px solid lightgray;
    border-radius: 40px;
    margin-bottom: 50px;
}
.top-row {
    padding: 20px;
    background-color: lightgray;
}
.company-name {
    font-size: 45px;
    font-weight: bold;
}
.middle-row {
    padding: 20px;
}
.bottom-row {
    padding: 20px;
    border-top: 20px solid lightgray;
}
.title-block {
    padding-bottom: 20px;
    font-weight: bold;
}
.well {
    padding: 5px 20px 20px 20px;
}

/*FOOTER*/
.green-banner {
    background-color: #5DDBA9;
}
.green-banner h1 {
    padding: 30px;
    font-size: 40px;
}
.green-banner .btn {
    padding: 15px;
    border: 7px solid white;
    border-radius: 20px;
    color: white;
    background-color: none;
    margin: 20px 0px;
}
.green-banner .btn:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}
.green-banner .btn:active,
.green-banner .btn:focus {
    background-color: rgba(255,255,255,0.6);
}