<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/angular-mocks.js"></script>
    <script src="app/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link href="style.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<body>
    <!--main container-->
    <div ng-app="Company" class="container-fluid" ng-controller="Company" target="_blank">

        <!--logo and banner-->
        <div class="row header">
            <div class="col-md-3">
                <a href="https://insiten.com/"><img src="images/logo5.png" /></a>
            </div>
        </div>
        <div class="row banner text-center">
            <div class="col-md-12">
                <h1>Company Lister</h1>
            </div>
        </div>

        <!--add company form-->
        <div class="main-area">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <!--section with button stays visible-->
                <div class="panel-heading" role="tab" id="formHeader">
                    <h4 class="panel-title">
                        <button class="btn btn-lg btn-blue" data-toggle="collapse" data-parent="#accordion" href="#collapseForms" aria-expanded="true" aria-controls="collapseForms">
                            Add New Company
                        </button>
                    </h4>
                </div>

                <!--this section can be collapsed and hidden-->
                <div id="collapseForms" class="panel-collapse collapse" role="tabpanel" aria-labelledby="formHeader">
                    <form name="companyForm" class="well" id="addCompany">
                        <div class="row">
                            <div class="col-md-6" id="companyName">
                                <label for="companyName">Company Name (required)</label>
                                <input type="text" class="form-control" ng-model="company.company" required />
                            </div>
                            <div class="col-md-6">
                                <label for="status">Status</label>
                                <select name="status" id="status" ng-model="company.status" class="form-control">
                                    <option value="Researching">Researching</option>
                                    <option value="Pending Approval">Pending Approval</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Declined">Declined</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="information">Information</label>
                                <textarea class="form-control" id="information" ng-model="company.information"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label>Key Contacts</label>
                                <input type="text" class="form-control contact-form" ng-repeat="contact in contacts" ng-model="company.contacts[$index]" />
                                <button ng-click="addNewContact(contacts)" class="btn btn-default">Add Contact</button>
                                <button ng-click="deleteContact(contacts)" class="btn btn-default">Remove Contact</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="financialPerformance">Financial Performance</label>
                                <input type="text" class="form-control" ng-model="company.performance" />
                            </div>
                            <div class="col-md-6">
                                <button ng-click="addCompany(company)" class="btn btn-lg btn-blue pull-right add-button" data-toggle="collapse" data-target="#collapseForms" ng-disabled="!companyForm.$valid">
                                    Add
                                </button>
                            </div>
                        </div>
                    </form>
                </div> <!--end of hideable div-->
            </div> <!--end of accordion-->

            <!--list of all companies-->
            <div ng-repeat="company in companyList" class="main-listing text-center">

                <!--top has company name and edit buttons-->
                <div class="row top-row">
                    <div class="col-md-8 col-md-offset-2 text-center company-name">
                        <span ng-hide="editMode">{{company.company}}</span>
                        <input type="text" class="form-control" ng-show="editMode" ng-model="company.company" />
                    </div>
                    <div class="col-md-2 text-center">
                        <span ng-hide="editMode" ng-click="editMode = true; editCompany(company)" class="btn btn-default glyphicon glyphicon-edit center-block"></span>
                        <span class="btn btn-default glyphicon glyphicon-saved center-block" ng-show="editMode" ng-click="editMode = false"></span>
                        <i ng-click="removeCompany($index)" class="btn btn-default glyphicon glyphicon-trash center-block"></i>
                    </div>
                </div>

                <!--description of company in center-->
                <div class="row middle-row">
                    <div class="col-md-12">
                        <span ng-hide="editMode">{{company.information}}</span>
                        <textarea class="form-control" ng-show="editMode" ng-model="company.information"></textarea>
                    </div>
                </div>

                <!--bottom row has details-->
                <div class="row bottom-row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-xs-12 title-block">
                                Unique ID
                            </div>
                            <div class="col-xs-12">
                                <span>{{company.id}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-xs-12 title-block">
                                Contacts
                            </div>
                            <div class="col-xs-12" ng-repeat="contact in companyList[$index].contacts">
                                <span ng-hide="editMode">{{company.contacts[$index]}}</span>
                                <input type="text" class="form-control" ng-show="editMode" ng-model="company.contacts[$index]" />
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-xs-12 title-block">
                                Performance
                            </div>
                            <div class="col-xs-12">
                                <span ng-hide="editMode">{{company.performance}}</span>
                                <input type="text" class="form-control" ng-show="editMode" ng-model="company.performance" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-xs-12 title-block">
                                Status
                            </div>
                            <div class="col-xs-12">
                                <span ng-hide="editMode">{{company.status}}</span>
                                <select name="status" id="status" class="form-control" ng-show="editMode" ng-model="company.status">
                                    <option value="Researching">Researching</option>
                                    <option value="Pending Approval">Pending Approval</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Declined">Declined</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> <!--end of bottom row-->
            </div> <!--end of individual company listing-->
        </div> <!--end of company list-->
        <!--footer and github link at bottom-->
        <footer class="row navbar-default green-banner">
            <div class="col-md-10">
                <h1>a project by Joseph Coppola</h1>
            </div>
        </footer>

    </div> <!--end of main container-->
</body>
</html>
