<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/angular-mocks.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <link href="style.css" rel="stylesheet" />
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/d3/d3.min.js"></script>
    <script src="app/main.js"></script>
    <meta charset="utf-8" />
</head>

<body>
    <!--main container-->
    <div ng-app="Company" class="container-fluid" ng-controller="Company">

        <!--logo and banner-->
        <div class="row header">
            <div class="col-md-3">
                <a href="https://insiten.com/" target="_blank"><img src="images/logo5.png" /></a>
            </div>
        </div>
        <div class="row banner text-center">
            <div class="col-md-12">
                <h1>Company Lister</h1>
            </div>
        </div>

        <!--add company form-->
        <div class="main-area">
            <!--section with button stays visible-->
            <div class="add-company row">
                <div class="col-xs-3">
                    <button class="btn btn-lg btn-blue" ng-click="isCollapsed = !isCollapsed">
                        Add New Company
                    </button>
                </div>
                <div class="col-xs-9">

                </div>
            </div>


            <!--this section can be collapsed and hidden-->
            <div uib-collapse="isCollapsed">
                <form name="companyForm" class="well companyForm">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="companyName">Name (required)</label>
                            <input type="text" id="companyName" class="form-control" ng-model="company.name" required />
                        </div>
                        <div class="col-md-6">
                            <label for="status">Status</label>
                            <select name="status" id="status" ng-model="company.status" class="form-control">
                                <option value="Researching">Researching</option>
                                <option value="Pending Approval">Pending Approval</option>
                                <option value="Approved">Approved</option>
                                <option value="Declined">Declined</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="information">Information</label>
                            <textarea class="form-control information" id="information" ng-model="company.information"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label>Contacts</label>
                            <div ng-repeat="contact in company.contacts track by $index">
                                <input type="text" class="form-control contact-form" ng-model="company.contacts[$index]" />
                            </div>
                            <span ng-click="addNewContact()" class="btn btn-default">Add Contact</span>
                            <span ng-click="deleteContact()" class="btn btn-default" ng-show="company.contacts[1]!=null">Remove Contact</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="netIncome">Net Income ($)</label>
                            <div ng-repeat="income in company.netIncome track by $index">
                                <input type="number" class="form-control" ng-model="company.netIncome[$index]" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="addCompany(company)" class="btn btn-lg btn-blue pull-right add-button" ng-disabled="!companyForm.$valid">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!--end of hideable div-->


            <div class="alert-area">
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'success')" close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-group btn-view" uib-dropdown is-open="status.isopen">
                        <button class="glyphicon glyphicon-th-large btn btn-lg btn-default" ng-class="{'btn-view-selected': ui=='Card'}" ng-click="setUI('Card')" ng-show="listEnabled"></button>
                        <button class="glyphicon glyphicon-list btn btn-lg btn-default" ng-class="{'btn-view-selected': ui=='List'}" ng-click="setUI('List')" ng-show="listEnabled"></button>
                        <button id="single-button" type="button" class="btn btn-default btn-lg" uib-dropdown-toggle>
                            Display ( {{itemsPerPage}} ) <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a ng-click="changeDisplayedItems(5)">5</a></li>
                            <li role="menuitem"><a ng-click="changeDisplayedItems(10)">10</a></li>
                            <li role="menuitem"><a ng-click="changeDisplayedItems(25)">25</a></li>
                            <li role="menuitem"><a ng-click="changeDisplayedItems(50)">50</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul uib-pagination class="pagination-lg pull-right" total-items="totalItems" ng-click="changePage()" ng-model="currentPage" items-per-page="itemsPerPage" boundary-link-numbers="true" rotate="false"></ul>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="search-bar input-group input-group-lg">
                        <div class="input-group-btn" uib-dropdown>
                            <button id="field-button" type="button" class="btn btn-default field-button" uib-dropdown-toggle>
                                {{fieldButtonName}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="field-button">
                                <li role="menuitem"><a ng-click="setField('id', 'ID')">ID</a></li>
                                <li role="menuitem"><a ng-click="setField('name', 'Name')">Name</a></li>
                                <li role="menuitem"><a ng-click="setField('status', 'Status')">Status</a></li>
                                <li role="menuitem"><a ng-click="setField('contacts', 'Contacts')">Contacts</a></li>
                                <li role="menuitem"><a ng-click="setField('netIncome', 'Net Income')">Net Income</a></li>
                            </ul>
                        </div>
                        <input type="text" placeholder="search by field" class="form-control text-search" ng-hide="field=='status' || field=='netIncome'" ng-model="query" />
                        <!--<input type="number" ng-show="field=='netIncome'" class="form-control range-search search-lower" placeholder="minimum amount" ng-model="minimum"/>
                        <input type="number" ng-show="field=='netIncome'" class="form-control range-search search-upper" placeholder="maximum amount" ng-model="maximum" />-->
                        <select class="form-control range-search search-lower" ng-model="minimum" ng-show="field=='netIncome'">
                            <option value="" disabled hidden selected>Minimum Amount</option>
                            <option value="-10000000000">-10,000M</option>
                            <option value="-10000000">-100M</option>
                            <option value="-100000">-1M</option>
                            <option value="0">0</option>
                            <option value="1000000">1M</option>
                            <option value="10000000">10M</option>
                            <option value="100000000">100M</option>
                            <option value="1000000000">1000M</option>
                        </select>
                        <select class="form-control range-search search-upper" ng-model="maximum" ng-show="field=='netIncome'">
                            <option value="" disabled hidden selected>Maximum Amount</option>
                            <option value="0">0</option>
                            <option value="1000000">1M</option>
                            <option value="10000000">10M</option>
                            <option value="100000000">100M</option>
                            <option value="1000000000">1000M</option>
                            <option value="10000000000">10000M</option>
                        </select>
                        <select class="form-control status-dropdown" ng-model="query" ng-show="field=='status'">
                            <option></option>
                            <option>Approved</option>
                            <option>Researching</option>
                            <option>Pending Approval</option>
                            <option>Declined</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--list of all companies-->
            <div class="main-card-listing text-center" ng-show="ui=='Card'">
                <div class="no-company" ng-show="displayedCompanyList==0">
                    No results found
                </div>
                <div ng-repeat="company in displayedCompanyList">
                    <!--top has name and edit buttons-->
                    <div class="row top-row">
                        <div class="col-md-8 col-md-offset-2 company-name">
                            <span ng-hide="company.editMode">{{company.name}}</span>
                            <input type="text" class="form-control" ng-show="company.editMode" ng-model="editForm.name" />
                        </div>
                        <div class="col-md-2">
                            <span ng-hide="company.editMode" ng-click="currentlyEditing || edit($index, company.editMode)" class="btn btn-default glyphicon glyphicon-edit center-block"></span>
                            <button class="btn btn-edit btn-default glyphicon glyphicon-saved center-block" ng-show="company.editMode" ng-click="edit($index, company.editMode)" ng-disabled="company.name=='' || !netIncomeForm.$valid"></button>
                            <i ng-click="removeCompany($index)" class="btn btn-default glyphicon glyphicon-trash center-block"></i>
                        </div>
                    </div>

                    <!--description of company in center-->
                    <div class="row info-row">
                        <div class="col-md-12">
                            <span ng-hide="company.editMode">{{company.information}}</span>
                            <textarea class="form-control information" ng-show="company.editMode" ng-model="editForm.information"></textarea>
                        </div>
                    </div>

                    <!--bottom row has details-->
                    <div class="row detail-row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-xs-12 title-block">
                                    ID
                                </div>
                                <div class="col-xs-12">
                                    <span>{{company.id}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-xs-12 title-block ">
                                    Contacts
                                </div>
                                <div class="col-xs-12" ng-repeat="contact in company.contacts track by $index">
                                    <span ng-hide="company.editMode">{{company.contacts[$index]}}</span>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-show="company.editMode" ng-model="editForm.contacts[$index]">
                                        <span class="input-group-btn">
                                            <button ng-show="company.editMode" ng-click="remove(editForm.contacts, $index)" class="btn btn-default glyphicon glyphicon-remove-circle"></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <form name="contactForm" class="input-group">
                                        <input type="text" class="form-control" ng-show="company.editMode" ng-model="contactForm.contact" required>
                                        <span class="input-group-btn">
                                            <button ng-click="addEditContact(editForm.contacts, contactForm.contact); contactForm.contact=''" ng-show="company.editMode" class="btn btn-default glyphicon glyphicon-plus" ng-disabled="!contactForm.$valid"></button>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-xs-12 title-block">
                                    Net Income
                                </div>
                                <form name="netIncomeForm">
                                    <div class="col-xs-12" ng-repeat="income in company.netIncome track by $index">
                                        <span ng-hide="company.editMode || income==''">${{income | number: fractionSize | millionSuffix}}</span>
                                        <input type="number" class="form-control" ng-show="company.editMode" ng-model="editForm.netIncome[$index]" required>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-xs-12 title-block">
                                    Status
                                </div>
                                <div class="col-xs-12">
                                    <span ng-hide="company.editMode">{{company.status}}</span>
                                    <select name="status" id="status" class="form-control" ng-show="company.editMode" ng-model="editForm.status">
                                        <option value="Researching">Researching</option>
                                        <option value="Pending Approval">Pending Approval</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Declined">Declined</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> <!--end of detail row-->
                </div> <!--end of individual company listing-->
            </div>
            <div class="main-list-listing" ng-show="ui=='List'">
                <div class="text-center no-company" ng-show="displayedCompanyList==0">
                    No results found.
                </div>
                <!--title row-->
                <div class="row title-row" ng-show="displayedCompanyList!=0">
                    <div class="col-xs-1 text-right">
                        ID
                    </div>
                    <div class="col-xs-2 company-name text-center">
                        Name
                    </div>
                    <div class="col-xs-3 contacts">
                        <p>Contacts</p>
                    </div>
                    <div class="col-xs-2 text-right">
                        Net Income
                    </div>
                    <div class="col-xs-2">
                        Status
                    </div>
                    <div class="col-xs-2 text-center">
                        Edit / Delete
                    </div>
                </div>
                <div ng-repeat="company in displayedCompanyList">
                    <div class="row" ng-class="{'first-item':$first, 'last-item':$last}" ng-class-odd="'odd'" ng-class-even="'even'">
                        <div class="col-xs-1 text-right">
                            {{company.id}}
                        </div>
                        <div class="col-xs-2 company-name text-center">
                            <span class="list-name-button btn btn-defult" ng-click="detailMode = !detailMode" ng-hide="company.editMode">{{company.name}}</span>
                            <input type="text" class="form-control" ng-show="company.editMode" ng-model="editForm.name" />
                        </div>
                        <div class="col-xs-3">
                            <div ng-hide="company.editMode || detailMode">
                                <span class="caret" ng-hide="company.contacts[1] == null"></span>
                                <span class="white-space" ng-hide="company.contacts[1] != null"></span>
                                <span>{{company.contacts[0]}}</span>
                            </div>
                            <div class="row" ng-show="detailMode || company.editMode">
                                <div class="col-xs-12" ng-repeat="contact in company.contacts track by $index">
                                    <div ng-hide="company.editMode">
                                         <span class="dropup"><span ng-show="$index == 0 && company.contacts[1] != null" class="caret"></span></span>
                                         <span class="white-space" ng-show="$index > 0 || company.contacts[1] == null"></span>
                                        {{company.contacts[$index]}}
                                    </div>
                                    <div class="input-group" ng-show="company.editMode" >
                                        <input type="text" class="form-control" ng-model="editForm.contacts[$index]">
                                        <span class="input-group-btn">
                                            <button ng-click="remove(editForm.contacts, $index)" class="btn btn-default glyphicon glyphicon-remove-circle"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <form name="contactForm" class="input-group">
                                    <input type="text" class="form-control" ng-show="company.editMode" ng-model="contactForm.contact" required>
                                    <span class="input-group-btn">
                                        <button ng-click="addEditContact(editForm.contacts, contactForm.contact); contactForm.contact=''" ng-show="company.editMode" class="btn btn-default glyphicon glyphicon-plus" ng-disabled="!contactForm.$valid"></button>
                                    </span>
                                </form>
                            </div>
                            <span ng-hide="company.contacts[1]==undefined || detailMode || company.editMode"></span>
                        </div>
                        <div class="col-xs-2 text-right">
                            <span ng-hide="company.editMode || detailMode || company.netIncome[0]==''">${{company.netIncome[0] | number : fractionSize | millionSuffix}}</span>
                            <form name="netIncomeForm" ng-show="detailMode || company.editMode">
                                <div class="col-xs-12" ng-repeat="income in company.netIncome track by $index">
                                    <span ng-hide="company.editMode || income==''">${{income | number : fractionSize| millionSuffix}}</span>
                                    <input type="number" class="form-control" ng-show="company.editMode" ng-model="editForm.netIncome[$index]">
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-2">
                            <span ng-hide="company.editMode">{{company.status}}</span>
                            <select name="status" id="status" class="form-control" ng-show="company.editMode" ng-model="editForm.status">
                                <option value="Researching">Researching</option>
                                <option value="Pending Approval">Pending Approval</option>
                                <option value="Approved">Approved</option>
                                <option value="Declined">Declined</option>
                            </select>
                        </div>
                        <div class="col-xs-2 text-center">
                            <div class="btn-group edit-delete">
                                <button ng-hide="company.editMode" ng-click="currentlyEditing || edit($index, company.editMode)" class="btn btn-default btn-group-sm glyphicon glyphicon-edit"></button>
                                <button class="btn btn-default btn-group-sm glyphicon glyphicon-saved" ng-show="company.editMode" ng-click="edit($index, company.editMode)" ng-disabled="company.name=='' || !netIncomeForm.$valid"></button>
                                <button ng-click="removeCompany($index)" class="btn btn-default btn-group-sm glyphicon glyphicon-trash"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul uib-pagination class="pagination-lg pull-right" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" boundary-link-numbers="true" rotate="false"></ul>
                </div>
            </div>
        </div> <!--end of company list-->
    </div> <!--end of main container-->
    <footer class="navbar-default green-banner">
        <div>
            <h1>a project by Joseph Coppola</h1>
        </div>
    </footer>
</body>
</html>
