<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/angular-mocks.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <link href="style.css" rel="stylesheet" />
    <script src="scripts/angular-animate.min.js"></script>
    <script src="app/main.js"></script>
    <meta charset="utf-8" />
</head>

<body>
    <!--main container-->
    <div ng-app="Company" class="container-fluid" ng-controller="Company">

        <!--logo and banner-->
        <div class="row header">
            <div class="col-md-3">
                <a href="https://insiten.com/" target="_blank"><img src="images/logo5.png" /></a>
            </div>
        </div>
        <div class="row banner text-center">
            <div class="col-md-12">
                <h1>Company Lister</h1>
            </div>
        </div>

        <!--add company form-->
        <div class="main-area">
            <!--section with button stays visible-->
            <div class="panel-heading">
                <h4 class="panel-title">
                    <button class="btn btn-lg btn-blue" ng-click="isCollapsed = !isCollapsed">
                        Add New Company
                    </button>
                </h4>
            </div>

            <!--this section can be collapsed and hidden-->
            <div uib-collapse="isCollapsed">
                <form name="companyForm" class="well companyForm">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="companyName">Company Name (required)</label>
                            <input type="text" class="form-control" ng-model="company.company" required />
                        </div>
                        <div class="col-md-6">
                            <label for="status">Status</label>
                            <select name="status" id="status" ng-model="company.status" class="form-control">
                                <option value="Researching">Researching</option>
                                <option value="Pending Approval">Pending Approval</option>
                                <option value="Approved">Approved</option>
                                <option value="Declined">Declined</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="information">Information</label>
                            <textarea class="form-control" id="information" ng-model="company.information"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label>Contacts</label>
                            <div ng-repeat="contact in contactsForm">
                                <input type="text" class="form-control contact-form" ng-model="company.contacts[$index]" />
                            </div>
                            <span ng-click="addNewContact()" class="btn btn-default">Add Contact</span>
                            <span ng-click="deleteContact()" class="btn btn-default">Remove Contact</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Performance">Performance</label>
                            <input type="text" class="form-control" ng-model="company.performance" />
                        </div>
                        <div class="col-md-6">
                            <button ng-click="addCompany(company); isCollapsed = !isCollapsed" class="btn btn-lg btn-blue pull-right add-button" ng-disabled="!companyForm.$valid">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!--end of hideable div-->

            <div class="row">
                <div class="col-md-6 btn-group btn-view">
                    <button class="glyphicon glyphicon-th-large btn btn-lg btn-default" ng-click="setView('Card')"></button>
                    <button class="glyphicon glyphicon-list btn btn-lg btn-default" ng-click="setView('List')"></button>
                </div>
                <div class="col-md-6">
                    <ul uib-pagination class="pull-right" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" boundary-link-numbers="true" rotate="false"></ul>
                </div>
            </div>
            <!--list of all companies-->
            <div ng-repeat="company in displayedCompanyList" class="main-card-listing text-center" ng-show="view=='Card'">

                <!--top has company name and edit buttons-->
                <div class="row top-row">
                    <div class="col-md-8 col-md-offset-2 company-name">
                        <span ng-hide="editMode">{{company.company}}</span>
                        <input type="text" class="form-control" ng-show="editMode" ng-model="company.company" />
                    </div>
                    <div class="col-md-2">
                        <span ng-hide="editMode" ng-click="editMode = true; editCompany(company)" class="btn btn-default glyphicon glyphicon-edit center-block"></span>
                        <button class="btn btn-edit btn-default glyphicon glyphicon-saved center-block" ng-show="editMode" ng-click="editMode = false" ng-disabled="company.company==''"></button>
                        <i ng-click="removeCompany($index)" class="btn btn-default glyphicon glyphicon-trash center-block"></i>
                    </div>
                </div>

                <!--description of company in center-->
                <div class="row middle-row">
                    <div class="col-md-12">
                        <span ng-hide="editMode">{{company.information}}</span>
                        <textarea class="form-control information" ng-show="editMode" ng-model="company.information"></textarea>
                    </div>
                </div>

                <!--bottom row has details-->
                <div class="row bottom-row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-xs-12 title-block">
                                Unique ID
                            </div>
                            <div class="col-xs-12">
                                <span>{{company.id}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-xs-12 title-block ">
                                Contacts
                            </div>
                                <div class="col-xs-12" ng-repeat="contact in companyList[$index].contacts track by $index">
                                    <span ng-hide="editMode">{{company.contacts[$index]}}</span>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-show="editMode" ng-model="company.contacts[$index]">
                                        <span class="input-group-btn">
                                            <button ng-show="editMode" ng-click="remove(company.contacts, $index)" class="btn btn-default glyphicon glyphicon-remove-circle"></button>
                                        </span>
                                    </div>
                                </div>
                            <div class="col-xs-12">
                                <form name="contactForm" class="input-group">
                                    <input type="text" class="form-control" ng-show="editMode" ng-model="contactForm.contact" required>
                                    <span class="input-group-btn">
                                        <button ng-click="addEditContact(company.contacts, contactForm.contact); contactForm.contact=''"; ng-show="editMode" class="btn btn-default glyphicon glyphicon-plus" ng-disabled="!contactForm.$valid"></button>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-xs-12 title-block">
                                Performance
                            </div>
                            <div class="col-xs-12">
                                <span ng-hide="editMode">{{company.performance}}</span>
                                <input type="text" class="form-control" ng-show="editMode" ng-model="company.performance" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-xs-12 title-block">
                                Status
                            </div>
                            <div class="col-xs-12">
                                <span ng-hide="editMode">{{company.status}}</span>
                                <select name="status" id="status" class="form-control" ng-show="editMode" ng-model="company.status">
                                    <option value="Researching">Researching</option>
                                    <option value="Pending Approval">Pending Approval</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Declined">Declined</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> <!--end of bottom row-->
            </div> <!--end of individual company listing-->
            <!--title row-->
            <div ng-show="view == 'List'">
                <div class="row title-row">
                    <div class="col-xs-1">
                        ID
                    </div>
                    <div class="col-xs-2 company-name">
                        Company Name
                    </div>
                    <div class="col-xs-2">
                        Contacts
                    </div>
                    <div class="col-xs-2">
                        Performance
                    </div>
                    <div class="col-xs-2">
                        Status
                    </div>
                    <div class="col-xs-1">
                        Details
                    </div>
                    <div class="col-xs-1 center-block">
                        Edit
                    </div>
                    <div class="col-xs-1 center-block">
                        Delete
                    </div>
                </div>

                <div class="main-list-listing" ng-repeat="company in displayedCompanyList">
                    <div class="row" ng-class="{'first-item':$first, 'last-item':$last}" ng-class-odd="'odd'" ng-class-even="'even'">
                        <div class="col-xs-1">
                            {{company.id}}
                        </div>
                        <div class="col-xs-2 company-name">
                            <span ng-hide="editMode">{{company.company}}</span>
                            <input type="text" class="form-control" ng-show="editMode" ng-model="company.company" />
                        </div>
                        <div class="col-xs-2">
                            <div class="row" ng-show="detailMode || editMode">
                                <div class="col-xs-12" ng-repeat="contact in companyList[$index].contacts">
                                    <span ng-hide="editMode">{{company.contacts[$index]}}</span>
                                    <input type="text" class="form-control" ng-show="editMode" ng-model="company.contacts[$index]" />
                                </div>
                            </div>
                            <span ng-hide="editMode || detailMode">{{company.contacts[0]}}</span>
                            <span class="glyphicon glyphicon-plus" ng-hide="company.contacts[1]==undefined || detailMode || editMode"></span>
                        </div>
                        <div class="col-xs-2">
                            <span ng-hide="editMode">{{company.performance}}</span>
                            <input type="text" class="form-control" ng-show="editMode" ng-model="company.performance" />
                        </div>
                        <div class="col-xs-2">
                            <span ng-hide="editMode">{{company.status}}</span>
                            <select name="status" id="status" class="form-control" ng-show="editMode" ng-model="company.status">
                                <option value="Researching">Researching</option>
                                <option value="Pending Approval">Pending Approval</option>
                                <option value="Approved">Approved</option>
                                <option value="Declined">Declined</option>
                            </select>
                        </div>
                        <div class="col-xs-1">
                            <button ng-hide="detailMode" ng-click="detailMode = true" class="btn btn-default btn-xs glyphicon glyphicon-eye-open center-block"></button>
                            <button class="btn btn-edit btn-default btn-xs glyphicon glyphicon-eye-close center-block" ng-show="detailMode" ng-click="detailMode = false" ng-disabled="company.company==''"></button>
                        </div>
                        <div class="col-xs-1 center-block">
                            <button ng-hide="editMode" ng-click="editMode = true; editCompany(company)" class="btn btn-default btn-xs glyphicon glyphicon-edit center-block"></button>
                            <button class="btn btn-edit btn-default btn-xs glyphicon glyphicon-saved center-block" ng-show="editMode" ng-click="editMode = false" ng-disabled="company.company==''"></button>
                        </div>
                        <div class="col-xs-1 center-block">
                            <button ng-click="removeCompany($index)" class="btn btn-default btn-xs glyphicon glyphicon-trash center-block"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul uib-pagination class="pull-right" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" boundary-link-numbers="true" rotate="false"></ul>
                </div>
            </div>
        </div> <!--end of company list-->
        <!--footer and github link at bottom-->
        <footer class="row navbar-default navbar-fixed-bottom green-banner">
            <div class="col-md-10">
                <h1>a project by Joseph Coppola</h1>
            </div>
        </footer>
    </div> <!--end of main container-->
</body>
</html>
