body {
    font-size: 18px;
}

.col-md-6 {
    margin-top: 20px;
}

h1 {
    font-size: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
.addButton  {
    margin-top: 25px;
}

.panel-heading {
    padding: 10px 0px;
}

.well {
    padding: 5px 20px 20px 20px;
}

.header {
    padding: 10px 30px;
}

.banner {
    padding: 50px;
    background-color: #3A3B3C;
    margin-bottom: 30px;
}
.btn-blue {
    background-color: #0DA9FF;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.btn-blue:hover,
.btn-blue:focus {
    color: white;
    background-color:#66c9ff;
}

tbody .btn-default {
    border: 2px solid rgb(220,220,220);
}

.green-banner {
    background-color: #5DDBA9
}
.green-banner h1 {
    padding: 30px;
    font-size: 40px;
}
.green-banner .btn {
    padding: 15px;
    border: 7px solid white;
    border-radius: 20px;
    color: white;
    background-color: none;
    margin: 20px;
}
.green-banner .btn:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}
.green-banner .btn:active,
.green-banner .btn:focus {
    background-color: rgba(255,255,255,0.6);
}
.green-banner a {
    color: white;
}