html {
    position: relative;
    min-height: 100%;
}
body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 110px;
}
.glyphicon {
    top: 0px;
}


/*HEADER*/

.header {
    padding: 10px 30px;
}
.banner {
    padding: 30px;
    background-color: #3A3B3C;
    margin-bottom: 30px;
}
h1 {
    font-size: 50px;
    color: white;
    margin: 0px;
    font-weight: bolder;
}
/*COLLAPSIBLE FORM*/

.companyForm .col-md-6 {
    margin-top: 20px;
}

.btn-view {
    margin: 20px 0px;
}

.btn-blue {
    background-color: #0DA9FF;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.active {
    color: white;
    background-color:#66c9ff;
}
.well {
    padding: 5px 20px 20px 20px;
    border-radius: 20px;
}
.add-button  {
    margin-top: 25px;
}
.panel-heading {
    padding: 10px 0px;
}
.contact-form {
    margin-bottom: 4px;
}

/*VIEW AND SEARCH*/

.main-area {
    padding: 0px 200px;
    margin-bottom: 130px;
}
.search-bar {
    margin-bottom: 30px;
}
.status-btn {
    border-radius: 0px 6px 6px 0px;
}
.dropdown-menu li {
    cursor: pointer;
}
.btn-view-selected,
.btn-view-selected:focus {
    background-color: #0DA9FF;
    color: white;
    border: 1px solid lightgray;
}
.btn-view-selected:hover,
.btn-view-selected:active:focus {
    background-color:#66c9ff;
    color: white;
    border: 1px solid lightgray;
}

/*PAGINATION*/

.pagination>li.active>a {
  background: #0DA9FF;
  border: 1px solid #0DA9FF;
  color: white;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border: 1px solid lightgray;
}
.pagination > .active > a,
.pagination > .active > span
{
  z-index: 3;
  color: white;
  background-color: #0DA9FF;
  background-color: #0DA9FF;
}
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color:#66c9ff;
    border: 1px solid #66c9ff;
}

/*MAIN LISTING CARD VIEW*/

.contact-edit {
    padding-bottom: 5px;
}
.main-card-listing.no-company {
    padding: 50px;
}
.main-card-listing {
    border: 20px solid lightgray;
    border-radius: 40px;
    margin-bottom: 50px;
}
.main-card-listing .information {
    min-height: 140px;
}
.main-card-listing .btn-edit { 
    width: 100%; 
}
.main-card-listing .top-row {
    padding: 20px;
    background-color: lightgray;
}
.main-card-listing .company-name {
    font-size: 45px;
    font-weight: bold;
}
.main-card-listing .info-row {
    padding: 20px;
}
.main-card-listing .detail-row {
    padding: 20px;
    border-top: 20px solid lightgray;
}
.main-card-listing .title-block {
    padding-bottom: 20px;
    font-weight: bold;
}

/*MAIN LISTING LIST*/

.title-row {
    padding: 5px;
    font-weight: bold;
}
.main-list-listing {
}
.main-list-listing div {
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-list-listing.no-company {
    padding: 20px;
    background-color: lightgray;
}
.main-list-listing .row {
    padding: 5px;
    margin: 1px;
}
.main-list-listing .row .row,
.main-list-listing .row .col-xs-12 {
    padding: 0px;
    margin: 0px;
}
.main-list-listing .list-name-button {
    margin: 0px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
}
.main-list-listing .list-name-button:hover {
    background-color: #e2e2e2;
}
.main-list-listing .list-button {
    margin: 0px 0px 2px 2px;
    padding: 0px 3px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}
.main-list-listing .list-button:hover {
    background-color: #e2e2e2;
}
.main-list-listing .odd {
    background-color: lightgray;
}
.main-list-listing .company-name {
    font-weight: bold;
}
.main-list-listing .first-item {
    
}
.main-list-listing .last-item {
    margin-bottom: 50px;
}

/*FOOTER*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
}
.green-banner {
    background-color: #5DDBA9;
}
.green-banner h1 {
    padding: 27px;
    font-size: 50px;
    margin: 0px;
}
.green-banner .btn {
    padding: 15px;
    border: 7px solid white;
    border-radius: 20px;
    color: white;
    background-color: none;
    margin: 20px 0px;
}
.green-banner .btn:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}
.green-banner .btn:active,
.green-banner .btn:focus {
    background-color: rgba(255,255,255,0.6);
}

/*removes side padding under certain window/screen size*/
@media (max-width: 960px)
{
    .main-area {
        padding: 0px;
    }
}